.product {
  margin: 60px;
  padding: 35px 75px;
  display: flex;
  align-items: center;
  gap: 75px;
  border-radius: 40px;
  border: 1px solid var(--grey-4);
  position: relative;
}

.product_image {
  display: inherit;
  align-items: inherit;
  gap: 15px;
}

.title_image {
  width: 355px;
  height: auto;
  border-radius: 20px;
}

.secondary_image {
  width: 75px;
  height: auto;
  border-radius: 10px;
  cursor: pointer;
}

.secondary_images {
  display: inherit;
  flex-direction: column;
  gap: 25px;
}

.product_txt {
  display: flex;
  flex-direction: column;
  gap: 40px;
  position: relative;
}

.product_title,
.product_price {
  color: var(--text-color);
  font-family: inherit;
  font-size: 32px;
  font-weight: 600;
  line-height: 39px;
}

.product_category {
  border-radius: 50px;
  border: 1px solid var(--grey-4);
  font-family: inherit;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: var(--text-color);
  padding: 10px 20px;
}

.product_main_text {
  font-family: inherit;
  font-size: 22px;
  font-weight: 400;
  line-height: 32px;
  color: var(--text-color);
}

.product_buy {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product_price::after {
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
}

.product_price > span {
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
}

.product_buy_button,
.button_back {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  position: absolute;
}

.product_buy_button {
  border-radius: 40px;
  padding: 5px 15px;
  background-color: var(--red-el);
  border: none;
  color: var(--white);
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  width: 150px;
  bottom: 0;
  right: 0;
}

.button_back {
  padding: 5px 15px;
  top: 20px;
  right: 20px;
  border-radius: 40px;
  border: 1px solid var(--grey-4);
  background-color: var(--background-color-alt);
  color: var(--text-color);
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
}

.button_back::before {
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
}

.active_image {
  border: 1px solid var(--color-border-button-dark);
  scale: 1.2;
}

@media (max-width: 1020px) {

  .product {
    margin: 40px;
    padding: 35px 65px;
  }

  .product_image {
    flex-direction: column-reverse;
  }

  .secondary_images {
    flex-direction: row;
  }

  .product_title {
    font-size: 22px;
  }

  .main_text {
    font-size: 14px;
  }
}

@media (max-width: 900px) {

  .product {
    margin: 10px;
    flex-direction: column;
    border: none;
  }

  .title_image {
    width: 100%;
    max-width: 380px;
    height: auto;
  }

  .product_txt {
    gap: 15px;
  }

  .product_price {
    display: inline;
    order: -1;
  }

  .product_title {
    margin: 0 0 10px;
  }

  .button_back {
    top: auto;
    right: auto;
    bottom: 35px;
    left: 60px;
  }

  .product_main_text {
    padding-bottom: 30px;
    color: var(--text-color);
  }

  .title {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .product_category {
    display: inline-flex;
    width: max-content;
  }
}

@media (max-width: 540px) {

  .product {
    padding: 15px 25px;
    gap: 30px;
  }

  .secondary_image {
    width: 50px;
    height: 50px;
  }

  .button_back {
    top: auto;
    right: auto;
    bottom: 15px;
    left: 25px;
  }
}
