:root {
  --main-font: "Montserrat", sans-serif;
  --red-el: #EF4934;
  --white: #FFF;
  --color-border-button-light: #E1E1E1;
  --color-border-button-dark: #656565;
}

[data-theme="dark"] {
  --color-icon-svg: brightness(100);
  --background-color: #111;
  --text-color: #FFF;
  --grey-1: #F1F1F1;
  --grey-2: #CCC;
  --grey-3: #333;
  --grey-4: #656565;
  --background-color-alt: #111;
  --color-border-button: var(--color-border-button-light);
  --color-border-card: var(--color-border-button-light);
}

[data-theme="light"] {
  --color-icon-svg: brightness(0);
  --active-color-icon: #FFF;
  --background-color: #FFF;
  --text-color: #111;
  --grey-1: #333;
  --grey-2: #656565;
  --grey-3: #CCC;
  --grey-4: #E1E1E1;
  --background-color-alt: #FFF;
  --color-border-button: var(--color-border-button-dark);
  --color-border-card: var(--color-border-button-dark);
}

html {
  font-family: var(--main-font);
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--text-color);
}

.app_container {
  display: grid;
  grid-template-columns: 1fr;
}

.app_container__header {
  height: 80px;
}

.app_container__main {
  padding-top: 30px;
  min-height: calc(100vh - 80px);
}

.app_container__footer {
  width: 100%;
  margin-top: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  all: initial;
}
